requests==2.24.0
bs4
matplotlib==3.3.2
pydrive
livestreamer
opencv-python
selenium
pyautogui

TikTokApi
python-twitter

svgwrite
numpy
pillow

instapy
schedule

discord_webhook

git+https://git@github.com/SpinPool/Chaturbate-API.git