@import url(https://fonts.googleapis.com/css?family=Roboto:700);
body{
  background-color: rgb(0,0,0);
  text-align: center;
  padding: 40px 0 0 0; 
  margin-top: 15%;
}
fieldset{
  border: none;
}
output{
  display: inline-block;
  min-width: 2.5em;
}
label, output{
  padding: 2px 9px;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: 1.1em;
  background: rgba(255,255,255,.4);
}
input[type=range] {
  width: 200px;
}

#hexVal{
  margin-top: 25px;
  min-width: 4.5em;
  font-size: 3em;
  background: rgba(255,255,255,.3);
}

.rainbow::-webkit-slider-runnable-track {
  background: linear-gradient(to right,
        hsl(0, 100%, 50%) 0%, 
        hsl(36, 100%, 50%) 10%,
        hsl(72, 100%, 50%) 20%,
        hsl(108, 100%, 50%) 30%,
        hsl(144, 100%, 50%) 40%,
        hsl(180, 100%, 50%) 50%,
        hsl(216, 100%, 50%) 60%,
        hsl(252, 100%, 50%) 70%,
        hsl(288, 100%, 50%) 80%,
        hsl(324, 100%, 50%) 90%,
        hsl(360, 100%, 50%) 100%
    );
  border-radius: 25px;
}

.gray-scale::-webkit-slider-runnable-track{
  background: linear-gradient(to right,
        rgb(0, 0, 0) 0%, 
        rgb(255, 255, 255) 100%
    );
  border-radius: 25px;
}